@font-face {
  font-family: "Encode Sans";
  font-display: swap;
  src: local("Encode Sans"), url("../assets/fonts/design.graffiti.comicsansms.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Encode Sans";
  font-display: swap;
  src: local("Encode Sans"), url("../assets/fonts/comicz.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Encode Sans";
  font-display: swap;
  src: local("Encode Sans"), url("../assets/fonts/design.graffiti.comicsansmsgras.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Encode Sans";
  font-display: swap;
  src: local("Encode Sans"), url("../assets/fonts/ComicSansMS3.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Encode Sans";
  font-display: swap;
  src: local("Encode Sans"), url("../assets/fonts/COMIC.ttf");
  font-weight: 600;
}

html,
body {
  /* height: 100%; */
  overflow-x: hidden;
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Encode Sans", sans-serif;
}

input {
  font-family: "Encode Sans", sans-serif;
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
}

h1 {
  font-size: 32px;
  color: #00205b;
  letter-spacing: 0px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0a205b;
  font-weight: 600;
  font-size: 14px;
}

a:hover {
  color: #c81c2e;
  /* cursor: default; */
}

a:focus {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: 1px dotted rgb(49, 54, 59);
}

div:focus {
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

img,
input[type="image"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

strong {
  font-weight: 700;
}

.pointsAnimation-enter {
  opacity: 0.5 !important;
  transform: scale(0.9);
  margin-right: -553px !important;
  box-shadow: none;
}

.pointsAnimation-enter.pointsAnimation-enter-active {
  opacity: 1 !important;
  transform: scale(1);
  margin-right: 23px !important;
  box-shadow: 4px 9px 40px 2px rgba(7, 16, 75, 0.1);
  transition: opacity 500ms ease 0ms, margin 500ms ease 0ms,
    transform 500ms ease 0ms, box-shadow 500ms ease 0ms !important;
  z-index: 1;
}

.pointsAnimation-exit {
  opacity: 1 !important;
  transform: scale(1);
  box-shadow: 4px 9px 40px 2px rgba(7, 16, 75, 0.1);
  margin-right: 23px !important;
}

.pointsAnimation-exit.pointsAnimation-exit-active {
  opacity: 0.5 !important;
  transform: scale(0.9);
  box-shadow: none !important;
  margin-right: -553px !important;
  transition: opacity 500ms ease 0ms, margin 500ms ease 0ms,
    transform 500ms ease 0ms, box-shadow 500ms ease 0ms !important;
  z-index: 1;
}

.is-current a {
  font-weight: 800;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}